<div class="tarjetaVerde">

  <div id="fleximg">
    <img src="./../../../assets/img/hoja.jpg" alt="">

    <div id="datos">
      <p id="revistaHoja">Revista</p>
      <p id="forumHoja">F
        <span id="foHoja">
          O
        </span>
        RUM
      </p>
      <p id="contac"><b>
          CONTÁCTANOS
        </b></p>
      <p>EMAIL: <br>contacto@revistaforum.com</p>
      <p>TELÉFONO <br>42-2 38 12 81</p>
      <p>DIRECCIÓN: <br> Av. Libertad 683 - Chitlán</p>
    </div>
  </div>

</div>
