<div class="bottomgray">

  <div id="flexgray">
    <p id="txtforum">
      <b>
        F
        <span id="txtfo">
          O
        </span>
        RUM
      </b>
      <br>
      Te invita
    </p>

    <div id="cirGreen">
      <p id="txtcir"><b>CÍRCULO</b></p>
      <p id="empr"><b>Emprendedores</b></p>
    </div>

    <br>
    <p id="revParr">
      <b>
        Si crees que tu idea, empresa o negocio es <br>
        innovador, envíanos una breve reseña a: <br>
        contacto@revistaforum.com y podría ser <br>
        publicado en forma exclusiva en Revista Forum
      </b>
    </p>

    <p id="revFor">
      <b>REVISTA FORUM</b>
    </p>
    <p id="txtBott">
      <b>La revista de negocios de la región</b>
    </p>
  </div>

</div>
