<div class="tarjetaBl">

  <div id="flexfb">
    <div id="imgforum">
      <img src="./../../../assets/img/forum thumb.jpg" alt="">
      <p id="Revwhite">Revista Forum</p>
      <div id="fblike">
        <img src="./../../../assets/img/mgusta.jpg" alt="">
        <p id="person">
          <b>
            A 396 personas les gusta
            <span id="txtwhite">
              Revista Forum
            </span>
          </b>
        </p>
      </div>
    </div>

    <div class="contenedor">
      <div class="row">
        <img src="./../../../assets/img/profile1.jpg" alt="">
        <img src="./../../../assets/img/profile2.jpg" alt="">
        <img src="./../../../assets/img/profile3.jpg" alt="">
      </div>
      <div class="row">
        <img src="./../../../assets/img/profile4.jpg" alt="">
        <img src="./../../../assets/img/profile5.jpg" alt="">
        <img src="./../../../assets/img/profile6.jpg" alt="">
      </div>
      <div class="row">
        <img src="./../../../assets/img/profile7.jpg" alt="">
        <img src="./../../../assets/img/profile8.jpg" alt="">
        <img src="./../../../assets/img/profile9.jpg" alt="">
      </div>
    </div>

    <div id="fbicon">
      <img src="./../../../assets/img/fbicon.png" alt="">
    </div>
  </div>

</div>
